/*header*/
#nav {
  height: 100px; }
#nav .logo {
	width: 100px;
	height: 100px;
	position: absolute;
	left: -69px;
	top: 28px;
	margin-top: -27px;
}
#nav .logo a{
      display: block;}
 h1{
	color: #f6cc50;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 36px auto;
	position: absolute;
	left: -2px;
	top: 39px;

 }

#nav .nav-item {
    height: 26px;
    position: absolute;
    right: 0;
    top: 40%;
    margin-top: -13px; }
#nav .nav-item li {
      width: auto;
      height: 26px;
      line-height: 48px;
      position: relative;
      display: inline-block;
      margin-left: 44px;
      font-size: 0; }
#nav .nav-item li a {
        display: block;
        font-size: 16px;
        color: #f6cc50;
        opacity: 0.8; }
#nav .nav-item li a.cur, #nav .nav-item li a:hover {
          opacity: 1;
		  text-decoration:underline;
		   }
#nav .nav-item li span {
        width: 0;
        height: 1px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff; }

  #nav .nav-item-y li a.cur, #nav .nav-item-y li a:hover {
    color: #ffd900; }
  #nav .nav-item-y li span {
    background: #ffd900; }
  #nav .nav-item-w li a {
    color: #414141; }
    #nav .nav-item-w li a.cur, #nav .nav-item-w li a:hover {
      color: #ffd900; }
  #nav .nav-item-w li span {
    background: #ffd900; }


header {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position:fixed;
  top: 0;
  left:0px;
  z-index: 9; }

body {
  min-width: 1140px;
  font-size: 12px;
  font-family: Microsoft Yahei, Avenir, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  background: #ffffff;
  color: #666;
  position: relative; }

a {
  outline: 0;
  text-decoration: none; }
img {
  display: block;
  width: 100%;
  border: 0; }
.ul_main_banner li img {
    height: 100%;
    width: 100%;
}
img {
    border: medium none;
    outline: medium none;
}